![Pandas](images/pandas.png)

In [1]:
import numpy as np
import pandas as pd
import os
np.random.seed(123456)
np.set_displayoptions(precision=4, suppress=True)
import matplotlib
# matplotlib.style.use('default')
pd.options.display.max_rows = 15

AttributeError: module 'numpy' has no attribute 'set_displayoptions'

## Importation

This is a short introduction to pandas, geared mainly for new users.
You can see more complex recipes in the Cookbook.

Customarily, we import as follows:

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Object Creation

Creating a **Series** by passing a list of values, letting pandas create
a default integer index:

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a **`DataFrame`** by passing a NumPy array, with a datetime index
and labeled columns:

In [4]:
dates = pd.date_range('20130101', periods=6)
print(dates)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C         D
2013-01-01  0.469112 -0.282863 -1.509059 -1.135632
2013-01-02  1.212112 -0.173215  0.119209 -1.044236
2013-01-03 -0.861849 -2.104569 -0.494929  1.071804
2013-01-04  0.721555 -0.706771 -1.039575  0.271860
2013-01-05 -0.424972  0.567020  0.276232 -1.087401
2013-01-06 -0.673690  0.113648 -1.478427  0.524988

Creating a **DataFrame** by passing a dict of objects that can be converted to series-like.

In [5]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

The columns of the resulting **DataFrame** have different 
dtypes.

In [7]:
   df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

Viewing Data
------------

Here is how to view the top and bottom rows of the frame:

In [8]:
df.head(2)

                   A         B         C         D
2013-01-01  0.469112 -0.282863 -1.509059 -1.135632
2013-01-02  1.212112 -0.173215  0.119209 -1.044236

In [9]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.721555 -0.706771 -1.039575  0.271860
2013-01-05 -0.424972  0.567020  0.276232 -1.087401
2013-01-06 -0.673690  0.113648 -1.478427  0.524988

Display the index, columns, and the underlying NumPy data:

In [15]:
#df.index
#df.columns
#df.values

*DataFrame.describe* shows a quick statistic summary of your data:

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.073711 -0.431125 -0.687758 -0.233103
std    0.843157  0.922818  0.779887  0.973118
min   -0.861849 -2.104569 -1.509059 -1.135632
25%   -0.611510 -0.600794 -1.368714 -1.076610
50%    0.022070 -0.228039 -0.767252 -0.386188
75%    0.658444  0.041933 -0.034326  0.461706
max    1.212112  0.567020  0.276232  1.071804

Transposing your data:

In [17]:
   df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.469112    1.212112   -0.861849    0.721555   -0.424972   -0.673690
B   -0.282863   -0.173215   -2.104569   -0.706771    0.567020    0.113648
C   -1.509059    0.119209   -0.494929   -1.039575    0.276232   -1.478427
D   -1.135632   -1.044236    1.071804    0.271860   -1.087401    0.524988

Sorting by an axis:

In [18]:
   df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -1.135632 -1.509059 -0.282863  0.469112
2013-01-02 -1.044236  0.119209 -0.173215  1.212112
2013-01-03  1.071804 -0.494929 -2.104569 -0.861849
2013-01-04  0.271860 -1.039575 -0.706771  0.721555
2013-01-05 -1.087401  0.276232  0.567020 -0.424972
2013-01-06  0.524988 -1.478427  0.113648 -0.673690

Sorting by values:

In [19]:
   df.sort_values(by='B')

                   A         B         C         D
2013-01-03 -0.861849 -2.104569 -0.494929  1.071804
2013-01-04  0.721555 -0.706771 -1.039575  0.271860
2013-01-01  0.469112 -0.282863 -1.509059 -1.135632
2013-01-02  1.212112 -0.173215  0.119209 -1.044236
2013-01-06 -0.673690  0.113648 -1.478427  0.524988
2013-01-05 -0.424972  0.567020  0.276232 -1.087401

## Selection

While standard Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas access methods **.at**, **.iat**, **.loc** and **.iloc**.
#### Getting

Selecting a single column, which yields a **Series**,
equivalent to **df.A**:

In [14]:
   df['A']

2013-01-01    0.469112
2013-01-02    1.212112
2013-01-03   -0.861849
2013-01-04    0.721555
2013-01-05   -0.424972
2013-01-06   -0.673690
Freq: D, Name: A, dtype: float64

Selecting via **[]**, which slices the rows.

In [15]:
df[0:3]
#df['20130102':'20130104']

                   A         B         C         D
2013-01-01  0.469112 -0.282863 -1.509059 -1.135632
2013-01-02  1.212112 -0.173215  0.119209 -1.044236
2013-01-03 -0.861849 -2.104569 -0.494929  1.071804

### Selection by Label

For getting a cross section using a label:

In [16]:
dates[0],df.loc[dates[0]]

(Timestamp('2013-01-01 00:00:00', freq='D'), A    0.469112
 B   -0.282863
 C   -1.509059
 D   -1.135632
 Name: 2013-01-01 00:00:00, dtype: float64)

Selecting on a multi-axis by label:

In [24]:
   df.loc[:,['A','B']]

                   A         B
2013-01-01  0.469112 -0.282863
2013-01-02  1.212112 -0.173215
2013-01-03 -0.861849 -2.104569
2013-01-04  0.721555 -0.706771
2013-01-05 -0.424972  0.567020
2013-01-06 -0.673690  0.113648

Showing label slicing, both endpoints are *included*:

In [25]:
   df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  1.212112 -0.173215
2013-01-03 -0.861849 -2.104569
2013-01-04  0.721555 -0.706771

Reduction in the dimensions of the returned object:

In [27]:
df.loc['20130102',['A','B']]

A    1.212112
B   -0.173215
Name: 2013-01-02 00:00:00, dtype: float64

For getting a scalar value:

In [28]:
   df.loc[dates[0],'A']

0.46911229990718628

For getting fast access to a scalar (equivalent to the prior method):

In [29]:
   df.at[dates[0],'A']

0.46911229990718628

### Selection by Position

Select via the position of the passed integers:

In [30]:
   df.iloc[3]

A    0.721555
B   -0.706771
C   -1.039575
D    0.271860
Name: 2013-01-04 00:00:00, dtype: float64

By integer slices, acting similar to numpy/python:

In [31]:
   df.iloc[3:5,0:2]

                   A         B
2013-01-04  0.721555 -0.706771
2013-01-05 -0.424972  0.567020

By lists of integer position locations, similar to the numpy/python style:

In [32]:
   df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  1.212112  0.119209
2013-01-03 -0.861849 -0.494929
2013-01-05 -0.424972  0.276232

For slicing rows explicitly:

In [44]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02  1.212112 -0.173215  0.119209 -1.044236
2013-01-03 -0.861849 -2.104569 -0.494929  1.071804

For slicing columns explicitly:

In [45]:
df.iloc[:,1:3]

                   B         C
2013-01-01 -0.282863 -1.509059
2013-01-02 -0.173215  0.119209
2013-01-03 -2.104569 -0.494929
2013-01-04 -0.706771 -1.039575
2013-01-05  0.567020  0.276232
2013-01-06  0.113648 -1.478427

For getting a value explicitly:

In [41]:
df.iloc[1,1]

-0.17321464905330858

For getting fast access to a scalar (equivalent to the prior method):

In [40]:
df.iat[1,1]

-0.17321464905330858

### Boolean Indexing


Using a single column's values to select data.

In [17]:
   df[df > 0]

                   A         B         C         D
2013-01-01  0.469112       NaN       NaN       NaN
2013-01-02  1.212112       NaN  0.119209       NaN
2013-01-03       NaN       NaN       NaN  1.071804
2013-01-04  0.721555       NaN       NaN  0.271860
2013-01-05       NaN  0.567020  0.276232       NaN
2013-01-06       NaN  0.113648       NaN  0.524988

Using the *Series.isin* method for filtering:

In [19]:
   df2 = df.copy()
   df2['E'] = ['one', 'one','two','three','four','three']
   print(df2)
   df2[df2['E'].isin(['two','four'])]

                   A         B         C         D      E
2013-01-01  0.469112 -0.282863 -1.509059 -1.135632    one
2013-01-02  1.212112 -0.173215  0.119209 -1.044236    one
2013-01-03 -0.861849 -2.104569 -0.494929  1.071804    two
2013-01-04  0.721555 -0.706771 -1.039575  0.271860  three
2013-01-05 -0.424972  0.567020  0.276232 -1.087401   four
2013-01-06 -0.673690  0.113648 -1.478427  0.524988  three

                   A         B         C         D     E
2013-01-03 -0.861849 -2.104569 -0.494929  1.071804   two
2013-01-05 -0.424972  0.567020  0.276232 -1.087401  four

### Setting

Setting a new column automatically aligns the data
by the indexes.

In [51]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
display(s1)
df['F'] = s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

Setting values by label:

In [53]:
df.at[dates[0],'A'] = 0

Setting values by position:

In [ ]:
   df.iat[0,1] = 0

Setting by assigning with a NumPy array:

In [ ]:
   df.loc[:,'D'] = np.array([5] * len(df))

The result of the prior setting operations.

In [54]:
   df

                   A         B         C         D    F
2013-01-01  0.000000 -0.282863 -1.509059 -1.135632  NaN
2013-01-02  1.212112 -0.173215  0.119209 -1.044236  1.0
2013-01-03 -0.861849 -2.104569 -0.494929  1.071804  2.0
2013-01-04  0.721555 -0.706771 -1.039575  0.271860  3.0
2013-01-05 -0.424972  0.567020  0.276232 -1.087401  4.0
2013-01-06 -0.673690  0.113648 -1.478427  0.524988  5.0

A **where** operation with setting.

In [20]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C         D
2013-01-01 -0.469112 -0.282863 -1.509059 -1.135632
2013-01-02 -1.212112 -0.173215 -0.119209 -1.044236
2013-01-03 -0.861849 -2.104569 -0.494929 -1.071804
2013-01-04 -0.721555 -0.706771 -1.039575 -0.271860
2013-01-05 -0.424972 -0.567020 -0.276232 -1.087401
2013-01-06 -0.673690 -0.113648 -1.478427 -0.524988

## Missing Data


pandas primarily uses the value **np.nan** to represent missing data. It is by
default not included in computations.

Reindexing allows you to change/add/delete the index on a specified axis. This
returns a copy of the data.

In [21]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

                   A         B         C         D    E
2013-01-01  0.469112 -0.282863 -1.509059 -1.135632  1.0
2013-01-02  1.212112 -0.173215  0.119209 -1.044236  1.0
2013-01-03 -0.861849 -2.104569 -0.494929  1.071804  NaN
2013-01-04  0.721555 -0.706771 -1.039575  0.271860  NaN

To drop any rows that have missing data.

In [59]:
df1.dropna(how='any')

                   A         B         C         D    F    E
2013-01-02  1.212112 -0.173215  0.119209 -1.044236  1.0  1.0

Filling missing data.

In [60]:
df1.fillna(value=5)

                   A         B         C         D    F    E
2013-01-01  0.000000 -0.282863 -1.509059 -1.135632  5.0  1.0
2013-01-02  1.212112 -0.173215  0.119209 -1.044236  1.0  1.0
2013-01-03 -0.861849 -2.104569 -0.494929  1.071804  2.0  5.0
2013-01-04  0.721555 -0.706771 -1.039575  0.271860  3.0  5.0

To get the boolean mask where values are **nan**.

In [69]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

## Operations

Operations in general *exclude* missing data.

### Stats

Performing a descriptive statistic:

In [70]:
df.mean()

A   -0.004474
B   -0.431125
C   -0.687758
D   -0.233103
F    3.000000
dtype: float64

Same operation on the other axis:

In [71]:
df.mean(1)

2013-01-01   -0.731889
2013-01-02    0.222774
2013-01-03   -0.077909
2013-01-04    0.449414
2013-01-05    0.666176
2013-01-06    0.697304
Freq: D, dtype: float64

Operating with objects that have different dimensionality and need alignment.
In addition, pandas automatically broadcasts along the specified dimension.

In [22]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
df.sub(s, axis='index')

                   A         B         C         D
2013-01-01       NaN       NaN       NaN       NaN
2013-01-02       NaN       NaN       NaN       NaN
2013-01-03 -1.861849 -3.104569 -1.494929  0.071804
2013-01-04 -2.278445 -3.706771 -4.039575 -2.728140
2013-01-05 -5.424972 -4.432980 -4.723768 -6.087401
2013-01-06       NaN       NaN       NaN       NaN

### Apply


Applying functions to the data:

In [23]:
df.apply(np.cumsum)

                   A         B         C         D
2013-01-01  0.469112 -0.282863 -1.509059 -1.135632
2013-01-02  1.681224 -0.456078 -1.389850 -2.179868
2013-01-03  0.819375 -2.560647 -1.884779 -1.108065
2013-01-04  1.540931 -3.267418 -2.924354 -0.836205
2013-01-05  1.115958 -2.700398 -2.648122 -1.923605
2013-01-06  0.442268 -2.586750 -4.126549 -1.398618

In [24]:
df.apply(lambda x: x.max() - x.min())

A    2.073961
B    2.671590
C    1.785291
D    2.207436
dtype: float64

Histogramming

In [26]:
s = pd.Series(np.random.randint(0, 7, size=10))
display(s)
s.value_counts()

0    5
1    4
2    6
3    4
4    2
5    1
6    2
7    4
8    1
9    4
dtype: int64

4    4
2    2
1    2
6    1
5    1
dtype: int64

### String Methods


Series is equipped with a set of string processing methods in the `str`
attribute that make it easy to operate on each element of the array, as in the
code snippet below. Note that pattern-matching in `str` generally uses  by default (and in
some cases always uses them).

In [27]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

## Merge


pandas provides various facilities for easily combining together Series,
DataFrame, and Panel objects with various kinds of set logic for the indexes
and relational algebra functionality in the case of join / merge-type
operations.

Concatenating pandas objects together with *concat*:

In [28]:
df = pd.DataFrame(np.random.randn(10, 4))
#Découpage en plusieurs morceaux
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

          0         1         2         3
0  1.075770 -0.109050  1.643563 -1.469388
1  0.357021 -0.674600 -1.776904 -0.968914
2 -1.294524  0.413738  0.276662 -0.472035
3 -0.013960 -0.362543 -0.006154 -0.923061
4  0.895717  0.805244 -1.206412  2.565646
5  1.431256  1.340309 -1.170299 -0.226169
6  0.410835  0.813850  0.132003 -0.827317
7 -0.076467 -1.187678  1.130127 -1.436737
8 -1.413681  1.607920  1.024180  0.569605
9  0.875906 -2.211372  0.974466 -2.006747

### Join


SQL style merges.

In [86]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
display(left)
display(right)
pd.merge(left, right, on='key')

   key  lval
0  foo     1
1  foo     2

   key  rval
0  foo     4
1  foo     5

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

Another example that can be given is:

In [29]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
left
right
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

### Append


Append rows to a dataframe.

In [90]:
   df = pd.DataFrame(np.random.randn(5, 4), columns=['A','B','C','D'])
   s = df.iloc[3]
   df.append(s, ignore_index=True)

          A         B         C         D
0 -1.202872 -1.814470  1.018601 -0.595447
1  1.395433 -0.392670  0.007207  1.928123
2 -0.055224  2.395985  1.552825  0.166599
3  0.047609 -0.136473 -0.561757 -1.623033
4  0.029399 -0.542108  0.282696 -0.087302
5  0.047609 -0.136473 -0.561757 -1.623033

## Grouping


By "group by" we are referring to a process involving one or more of the
following steps:

 - **Splitting** the data into groups based on some criteria
 - **Applying** a function to each group independently
 - **Combining** the results into a data structure

In [31]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                         'foo', 'bar', 'foo', 'foo'],
                  'B' : ['one', 'one', 'two', 'three',
                         'two', 'two', 'one', 'three'],
                  'C' : np.random.randn(8),
                  'D' : np.random.randn(8)})
df

     A      B         C         D
0  foo    one -0.732339 -0.954208
1  bar    one  0.687738  1.462696
2  foo    two  0.176444 -1.743161
3  bar  three  0.403310 -0.826591
4  foo    two -0.154951 -0.345352
5  bar    two  0.301624  1.314232
6  foo    one -2.179861  0.690579
7  foo  three -1.369849  0.995761

Grouping and then applying the **DataFrame.sum** function to the resulting 
groups.

In [33]:
   df.groupby('A').sum()

            C         D
A
bar  1.392672  1.950338
foo -4.260556 -1.356381

Grouping by multiple columns forms a hierarchical index, and again we can 
apply the **sum** function.

In [93]:
   df.groupby(['A','B']).sum()

                  C         D
A   B
bar one    1.771208  0.173520
    three  1.100230  1.357138
    two    1.586976 -1.879024
foo one   -1.555935  1.611628
    three  0.264294  1.006160
    two    0.203817  1.629784

## Reshaping

### Stack

In [34]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                    'foo', 'foo', 'qux', 'qux'],
                   ['one', 'two', 'one', 'two',
                    'one', 'two', 'one', 'two']]))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df2 = df[:4]
df2

                     A         B
first second
bar   one     2.396780  0.014871
      two     3.357427 -0.317441
baz   one    -1.236269  0.896171
      two    -0.487602 -0.082240

The **DataFrame.stack** method "compresses" a level in the DataFrame's
columns.

In [95]:
   stacked = df2.stack()
   stacked

first  second
bar    one     A   -0.029716
               B   -1.146178
       two     A    0.100900
               B   -1.035018
baz    one     A    0.314665
               B   -0.773723
       two     A   -1.170653
               B    0.648740
dtype: float64

With a "stacked" DataFrame or Series (having a **MultiIndex** as the
**index**), the inverse operation of **DataFrame.stack` is
**DataFrame.unstack`, which by default unstacks the **last level**:

In [96]:
   stacked.unstack()
   stacked.unstack(1)
   stacked.unstack(0)

first          bar       baz
second
one    A -0.029716  0.314665
       B -1.146178 -0.773723
two    A  0.100900 -1.170653
       B -1.035018  0.648740

### Pivot Tables

In [97]:
   df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                      'B' : ['A', 'B', 'C'] * 4,
                      'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                      'D' : np.random.randn(12),
                      'E' : np.random.randn(12)})
   df

        A  B    C         D         E
0     one  A  foo -0.106062 -1.633678
1     one  B  foo  1.824375  0.615855
2     two  C  foo  0.595974  0.629675
3   three  A  bar  1.167115 -1.425966
4     one  B  bar  0.601544  1.857704
5     one  C  bar -1.237881 -1.193545
6     two  A  foo  0.106854  0.677510
7   three  B  foo -1.276829 -0.153931
8     one  C  foo -0.767101  0.520091
9     one  A  bar  0.207588 -1.475051
10    two  B  bar  1.499591  0.722570
11  three  C  bar  0.979542 -0.322646

We can produce pivot tables from this data very easily:

In [98]:
   pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A  0.207588 -0.106062
      B  0.601544  1.824375
      C -1.237881 -0.767101
three A  1.167115       NaN
      B       NaN -1.276829
      C  0.979542       NaN
two   A       NaN  0.106854
      B  1.499591       NaN
      C       NaN  0.595974

Time Series
-----------

pandas has simple, powerful, and efficient functionality for performing
resampling operations during frequency conversion (e.g., converting secondly
data into 5-minutely data). This is extremely common in, but not limited to,
financial applications.

In [35]:
   rng = pd.date_range('1/1/2012', periods=100, freq='S')
   ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
   ts.resample('5Min').sum()

2012-01-01    24267
Freq: 5T, dtype: int64

Time zone representation:

In [101]:
   rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
   ts = pd.Series(np.random.randn(len(rng)), rng)
   display(ts)
   ts_utc = ts.tz_localize('UTC')
   display(ts_utc)

2012-03-06    0.935716
2012-03-07    1.061192
2012-03-08   -2.107852
2012-03-09    0.199905
2012-03-10    0.323586
Freq: D, dtype: float64

2012-03-06 00:00:00+00:00    0.935716
2012-03-07 00:00:00+00:00    1.061192
2012-03-08 00:00:00+00:00   -2.107852
2012-03-09 00:00:00+00:00    0.199905
2012-03-10 00:00:00+00:00    0.323586
Freq: D, dtype: float64

Converting to another time zone:

In [102]:
   ts_utc.tz_convert('US/Eastern')

2012-03-05 19:00:00-05:00    0.935716
2012-03-06 19:00:00-05:00    1.061192
2012-03-07 19:00:00-05:00   -2.107852
2012-03-08 19:00:00-05:00    0.199905
2012-03-09 19:00:00-05:00    0.323586
Freq: D, dtype: float64

Converting between time span representations:

In [104]:
   rng = pd.date_range('1/1/2012', periods=5, freq='M')
   ts = pd.Series(np.random.randn(len(rng)), index=rng)
   display(ts)
   ps = ts.to_period()
   display(ps)
   ps.to_timestamp()

2012-01-31    0.318587
2012-02-29    2.089075
2012-03-31   -0.728293
2012-04-30   -0.090255
2012-05-31   -0.748199
Freq: M, dtype: float64

2012-01    0.318587
2012-02    2.089075
2012-03   -0.728293
2012-04   -0.090255
2012-05   -0.748199
Freq: M, dtype: float64

2012-01-01    0.318587
2012-02-01    2.089075
2012-03-01   -0.728293
2012-04-01   -0.090255
2012-05-01   -0.748199
Freq: MS, dtype: float64

Converting between period and timestamp enables some convenient arithmetic
functions to be used. In the following example, we convert a quarterly
frequency with year ending in November to 9am of the end of the month following
the quarter end:

In [105]:
   prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')
   ts = pd.Series(np.random.randn(len(prng)), prng)
   ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9
   ts.head()

1990-03-01 09:00    1.318931
1990-06-01 09:00   -2.029766
1990-09-01 09:00    0.792652
1990-12-01 09:00    0.461007
1991-03-01 09:00   -0.542749
Freq: H, dtype: float64

Categoricals
------------

pandas can include categorical data in a **DataFrame**.

In [36]:
    df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})

Convert the raw grades to a categorical data type.

In [37]:
    df["grade"] = df["raw_grade"].astype("category")
    df["grade"]

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]

Rename the categories to more meaningful names (assigning to 
**Series.cat.categories** is inplace!).

In [38]:
    df["grade"].cat.categories = ["very good", "good", "very bad"]

Reorder the categories and simultaneously add the missing categories (methods under **Series
.cat** return a new **Series** by default).

In [39]:
    df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
    df["grade"]

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): [very bad, bad, medium, good, very good]

Sorting is per order in the categories, not lexical order.

In [40]:
    df.sort_values(by="grade")

   id raw_grade      grade
5   6         e   very bad
1   2         b       good
2   3         b       good
0   1         a  very good
3   4         a  very good
4   5         a  very good

Grouping by a categorical column also shows empty categories.

In [41]:
    df.groupby("grade").size()

grade
very bad     1
bad          0
medium       0
good         2
very good    3
dtype: int64

Getting Data In/Out
-------------------

### CSV


Writing to a csv file.

In [16]:
   df.to_csv('foo.csv')

Reading from a csv file.

In [17]:
  pd.read_csv('foo.csv')

   Unnamed: 0         A         B         C         D
0  2013-01-01  0.469112 -0.282863 -1.509059 -1.135632
1  2013-01-02  1.212112 -0.173215  0.119209 -1.044236
2  2013-01-03 -0.861849 -2.104569 -0.494929  1.071804
3  2013-01-04  0.721555 -0.706771 -1.039575  0.271860
4  2013-01-05 -0.424972  0.567020  0.276232 -1.087401
5  2013-01-06 -0.673690  0.113648 -1.478427  0.524988

In [18]:
# Nettoyage:
os.remove('foo.csv')

### HDF5

Writing to a HDF5 Store.

In [19]:
   df2.to_hdf('foo.h5','df2')

NotImplementedError: Cannot store a category dtype in a HDF5 dataset that uses format="fixed". Use format="table".

Reading from a HDF5 Store.

In [46]:
   pd.read_hdf('foo.h5','df2')

                     A         B
first second
bar   one     2.396780  0.014871
      two     3.357427 -0.317441
baz   one    -1.236269  0.896171
      two    -0.487602 -0.082240

In [47]:
#Nettoyage:
os.remove('foo.h5')

### Excel

Writing to an excel file.

In [20]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

Reading from an excel file.

In [21]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

                   A         B         C         D
2013-01-01  0.469112 -0.282863 -1.509059 -1.135632
2013-01-02  1.212112 -0.173215  0.119209 -1.044236
2013-01-03 -0.861849 -2.104569 -0.494929  1.071804
2013-01-04  0.721555 -0.706771 -1.039575  0.271860
2013-01-05 -0.424972  0.567020  0.276232 -1.087401
2013-01-06 -0.673690  0.113648 -1.478427  0.524988

In [22]:
# Nettoyage:
os.remove('foo.xlsx')